<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	th,td { font-size: 13px; }
	input { width:70px; height:35px; font-size:13px;}
	table { width:800px; }

 a:link {color:black; text-decoration: none;}
 a:visited {color:black; text-decoration: none;}
 a:hover {color:black; text-decoration: underline;}
	
</style>
</head>
<body>
	<div class="row">
		<div class="col-10"><h2>게시글 목록</h2></div>
		<div class="col-2"><input type="button" value='게시글 작성' onclick='location.href="boardAdd"' style='width:90px; height:30px;'></div> 
	</div>
	
	<table class="table, table table-hover">
	<thead>
		<tr style="height:40px;">
			<th>번호</th>
			<th>제목</th>
			<th>등록일</th>
			<th>작성자</th>
		</tr>
	</thead>
	<tbody>
		<%_.each(data, function(item, idx){  %>
		<tr style='text-align:center; height:50px;'>
			<td><%=item['no']%></td>
			<td><a href="boardUpdate?no=<%=item['no']%>"><%=item['title']%></a></td>
			<td><%=item['createdDate']%></td>
			<td><%=item['name']%></td>
		</tr>
		<% }); %>
	</tbody>
	</table>

			<ul class="pagination justify-content-center">
				<!-- 이전페이지 버튼 -->
				<% if(pagenum >1){ %>
					<li class="page-item"><a class="page-link" href="boardList?pagenum=<%=pagenum-1%>">Prev</a></li>
				<% } %>
				
    			<!-- 각 번호 페이지 버튼 -->
    			<% for(var i = 1 ; i < totalCount+1 ; i++){ %>
    				<li class="page-item"><a class="page-link" href="boardList?pagenum=<%=i%>"><%=i%></a></li>
    			<% } %>
    			
    			<!-- 다음페이지 버튼 -->
    			<% if(pagenum < totalCount){ %>
    			<li class="page-item"><a class="page-link" href="boardList?pagenum=<%=pagenum+1%>">Next</a></li>
    			<% } %>
			</ul>

</body>
</html>