<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<div style="width:700px; height:500px; float:left; margin-left:10px">
<h2>게시글 작성</h2>

<div style='float:left; font-size:15px;'> 제목 : &nbsp;</div> <div><textarea id="postTitle" type='text' name='title' placeholder="제목을 입력하세요." style='width:500px;height:30px; float:left;'></textarea></div><br><br>
<div style='float:left; font-size:15px;'> 내용 : &nbsp;</div> <div><textarea id="postStory" type='text' name='story' placeholder="내용을 입력하세요." style='margin-top:10px; width:500px; height:200px;'></textarea></div><br>
<input id="addpost" type='button' value='등록' style='margin-top:10px'>
<input type='button' value='취소' onclick='location.href="boardList"'>

</div>

</body>
</html>