<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div style='margin-left:10px;'>
<h2>ID 찾기</h2>
<br>
<div style="font-size:15px;">이름 : <input id='findId_name' type='text' name='name' style='width:200px;'></div>
<div style="font-size:15px;">이메일 : <input id='findId_email' type='text' name='email' style='margin-top:10px;width:185px;'></div>
<input id="findIdBtn" type='button' value='확인' style='margin-top:10px; width:40px; height:25px; font-size:12px;'>
<input type='button' value='취소' onclick='location.href="login"' style='margin-top:10px; width:40px; height:25px; font-size:12px;'>
</div>


</body>
</html>