<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div class="container" style="border: 1px solid #cecece; margin-top: 120px; width: 500px; height: 450px; display: flex; justify-content: center; align-items: center;">
		<div>
			<h2 style="text-align:center;">Password 찾기</h2>
			<br>
			<input class="form-control" id='findPw_name' type='text' name='name' style='width: 350px;' placeholder="Name">
			<input class="form-control" id='findPw_email' type='text' name='email' style='margin-top: 10px; width: 350px;' placeholder="Email">
			<input class="form-control" id='findPw_id' type='text' name='id' style='margin-top: 10px; width: 350px;' placeholder="Password">
			<br>
			<input class="btn btn-outline-primary" id='findPwBtn' type='button' value='확인' style='width: 350px; height: 40px; font-size: 12px;'><br>
			<input class="btn btn-outline-secondary" type='button' value='취소' onclick='location.href="login"' style="width: 350px; height: 40px; font-size: 12px; margin-top:10px;">
		</div>
	</div>
	
</body>
</html>