<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	th,td { font-size: 13px; }
	input { margin-left:730px; margin-bottom:10px; width:70px; height:30px; font-size:13px;}
	table { width:1000px; }
	
/*  a:link {color:black; text-decoration: none;}
 a:visited {color:black; text-decoration: none;}
 a:hover {color:black; text-decoration: underline;} */
 
</style>
</head>
<body>
	<h2>회원 목록</h2>
	<br>
	<table class="table, table table-hover">
	<thead>
		<tr style="height:50px;">
			<th>번호</th>
			<th>이름</th>
			<th>이메일</th>
			<th>생성일</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%_.each(data, function (item, idx){

		%>
		<tr style='text-align:center; height:50px;'>
			<td><%=item['no']%></td>
			<td><a href="memberUpdate?no=<%=item['no']%>"><%=item['name']%></a></td>
			<td><%=item['email']%></td>
			<td><%=item['createdDate']%></td>
			<td><a class='removebtn' href='' rel='<%=item["no"]%>'>[삭제]</a></td>
		</tr>
		<% }); %>
	</tbody>
	</table>

	<br>
	 <ul class="pagination justify-content-center">
		<!-- 이전페이지 버튼 -->
		<% if(pagenum >1){ %>
			<li class="page-item"><a class="page-link" href="memberList?pagenum=<%=pagenum-1%>">Prev</a></li>
		<% } %>
		
		<!-- 각 번호 페이지 버튼 -->
		<% for(var i = 1 ; i < totalCount+1 ; i++){ %>
			<li class="page-item"><a class="page-link" href="memberList?pagenum=<%=i%>"><%=i%></a></li>
		<% } %>
		
		<!-- 다음페이지 버튼 -->
		<% if(pagenum < totalCount){ %>
		<li class="page-item"><a class="page-link" href="memberList?pagenum=<%=pagenum+1%>">Next</a></li>
		<% } %>
	</ul>

</body>
</html>