<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	div {font-size:15px; }
</style>
</head>
<body>
<h2 style="margin-left:10px;">회원가입</h2><br>
<div style="margin-left:10px;">
<div>이름 : <input id='userName' type='text' name='name' style='width:200px;'></div>
<div>이메일 : <input id='userEmail' type='text' name='email' style='margin-top:10px;width:185px;'></div>
<div>ID : <input id='userId' type='text' name='id' style='margin-top:10px;width:210px;'></div>
<div>Password : <input id='userPwd' type='password' name='password' style='margin-top:10px; width:160px;'></div>
<input id='addbtn' type='button' value='완료' style='margin-top:10px; width:40px; height:25px; font-size:12px;'>
<input type='button' value='취소' onclick='location.href="login"' style="width:40px; height:25px; font-size:12px;">
</div>
</body>
</html>