<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.0.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
	
	<mvc:default-servlet-handler />
	<mvc:annotation-driven/>
	<context:component-scan base-package="com.hiball.web.**, com.hiball.site.**, com.hiball.api.**, com.hiball.common.**"/>
	
	<mvc:resources location="/js/libs/require/" 	mapping="/js/libs/require/**"/>
	<mvc:resources location="/js/libs/jqlibs/" 		mapping="/js/libs/jqlibs/**"/>
	<mvc:resources location="/js/libs/bootstrap/" 	mapping="/js/libs/bootstrap/**"/>
	<mvc:resources location="/js/libs/jquery/" 		mapping="/js/libs/jquery/**"/>
	<mvc:resources location="/js/libs/underscore/" 	mapping="/js/libs/underscore/**"/>
	<mvc:resources location="/js/libs/backbone/" 	mapping="/js/libs/backbone/**"/>
	<mvc:resources location="/js/" 					mapping="/js/**"/>
	<mvc:resources location="/assets/" 				mapping="/assets/**"/>
	<mvc:resources location="/js/libs/bootstrap/popper.js" mapping="/popper.js"/>
	
	<bean id="expressionHandler" class="org.springframework.security.access.expression.method.DefaultMethodSecurityExpressionHandler"></bean>
	
	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="viewResolvers">
			<list>
				<bean class="org.springframework.web.servlet.view.BeanNameViewResolver">
					<property name="order" value="0"/>
				</bean>
				<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="order" value="1"/>
					<property name="prefix" value="/WEB-INF/views/"/>
					<property name="suffix" value=".jsp"/>
				</bean>
			</list>
		</property>
	</bean>
	
	<bean id="jsonTypeView" class="com.hiball.web.common.view.HiballMappingJsonView" />
	
	<bean id="exceptionResolver" class="com.hiball.web.common.excpeiton.resolver.HiBallExceptionResolver">
		<property name="view" value="jsonTypeView"/>
	</bean>
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/apiMultiCall*"/>
			<bean class="com.hiball.web.common.intercepter.ApiIntercepter"></bean>
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/serviceAPICall.do"/>
			<bean class="com.hiball.web.common.intercepter.ApiIntercepter"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
	
	<import resource="classpath:config/db/context-mybatis.xml"/>
</beans>